.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0px auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.page_dark {
  background-color: #000;
  padding-top: 90px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto;
  align-items: center;
}

.header_title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
}

.header_subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  z-index: 3;
}

.header_link {
  color: #2f80ed;
  text-decoration: none;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  z-index: 4;
}

.header_main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

.header_square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  z-index: 1;
}

content {
  border: 3px solid black;
}

.two-columns {
  max-width: 1100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns_brif {
  width: 175px;
  font-size: 18px;
  color: #2f80ed;
  line-height: 1.2;
  margin: 0px;
}

.two-columns_main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}

.span {
  margin: 30px 0px;
}

.span-accent {
  font-family: 'inter-Bold', bold;
  line-height: 34px;
  font-size: 24px;
}

.section-title {
  width: 60%;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
}

.section {
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  width: 920px;
  display: flex;;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards_item {
  width: 240px;
  margin-right: 100px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cards_item:nth-of-type(3n) {
  margin-right: 0;
}

.cards_item_image {
  width: 160px;
  height: 160px;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 43px;
}

.cards_item_title {
  line-height: 1.15;
  font-stretch: 24px;
  font-family: 'inter-Bold', bolder;
  margin-bottom: 16px;
}

.cards_item_description {
  line-height: 23px;
  font-stretch: 18px;
  display: flex;
  align-items: center;
  font-family: 'inter-Regular', normal;
}

.theme_dark {
  color: white;
}

.table {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 100px;
  width: 80%;
}

.table_cell {
  width: 250px;
  margin: auto;
  justify-content: space-between;
  margin-top: 60px;
}

.table_cell_theme_dark {
  width: 200px;
  margin: auto;
  justify-content: space-between;
  margin-top: 80px;
  color: white;
}

.table_heading {
  line-height: 1.15;
  font-stretch: 24px;
  font-family: 'inter-Bold', bolder;
  margin-bottom: 20px;
}

.table_text {
  line-height: 1.2;
  font-stretch: 18px;
  font-family: 'inter-Regular', normal;
}

.resources_logo-zone {
  width: 1100px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 217px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

.resources_logo {
  width: 270px;
  height: 38px;
  margin: 0px;
}

.footer {
  height: 350px;
}

.footer_columns {
  width: 90%;
  height: 250px;
  display: flex;
  flex-basis: 711px;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: space-between;
}

.column_content-copyring {
  width: 50%;
}

.logo_place_footer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 183px;
  height: 32px;
}

.footer_author {
  position: absolute;
  left: 0px;
  bottom: 18px;
  margin-top: 18px;
  margin-bottom: 0px;
  color: white;
}

.footer_column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer_column-heading {
  margin-bottom: 20px;
}

.footer_social-icon {
  width: 16px;
  height: 16px;
}

.column-link {
  margin-bottom: 10px;
  color: #2f80ed;
}

.column-link:nth-of-type(3n) {
  margin-bottom: 0;
}
