div {
  border: 1px solid red;
}

body {
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0px auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border: 1px solid red;
}

.page_dark {
  background-color: #000;
}

.header {
  border: 1px solid red;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto;
}

.content {
  border: 3px solid black;
}

.header_title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
}

.header_subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  z-index: 3;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  z-index: 4;
}

.header_title_content {
display: flex;
align-items: center;
justify-content: space-between;
margin: 0px;
}

.header_main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header_square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table_cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.two-columns {
  max-width: 1100px;
  display: flex;
  margin: 100px auto;
  width: 80%;
  justify-content: space-between;
}

.brif {
  width: 175px;
  font-size: 18px;
  color: #2f80ed;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
}

.main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

span {
  font-family: 'inter-Bold', bold;
  line-height: 34px;
  font-size: 24px;
}

.span-accent {
  margin: 0px 30px;
}

.table {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 100px;
  width: 80%;
}

.table_cell {
  width: 250px;
  margin: auto;
  justify-content: space-between;
  margin-top: 60px;
}

.cell_tem_dark {
  width: 200px;
  margin: auto;
  justify-content: space-between;
  margin-top: 80px;
}

.table_heading {
  line-height: 1.15;
  font-stretch: 24px;
  font-family: 'inter-Bold', bolder;
  margin-bottom: 20px;
}

.table_text {
  line-height: 1.2;
  font-stretch: 18px;
  font-family: 'inter-Regular', normal;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  width: 60%;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 60px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.section-subtitle {
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
