@import url(../blocks/body/body.css);
@import url(../blocks/content/description/description.css);
@import url(../blocks/content/description/_span/two-columns_span.css);
@import url(../blocks/content/digist/digist.css);
@import url(../blocks/content/digist/_table/digist_table.css);
@import url(../blocks/content/kaufman/kaufman.css);
@import url(../blocks/content/kaufman/_table/kaufman_table.css);
@import url(../blocks/content/kaufman/_theme-dark/kaufman_theme-dark.css);
@import url(../blocks/content/techniques/techniques.css);
@import url(../blocks/content/techniques/_cards/techniques_cards.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/_columns/footer_columns.css);
@import url(../blocks/footer/_columns/_content-copyring/Footer_columns__content-copyring.css);
@import url(../blocks/footer/_theme-dark/footer_theme-dark.css);
@import url(../blocks/footer/_columns/_column-links/footer_columns_column-links.css);
@import url(../blocks/footer/_columns/_column-links/_social-icon/footer_columns_social-icon.css);
@import url(../blocks/header/header.css);
@import url(../blocks/resources/resources.css);
@import url(../blocks/resources/_logo-zone/resources_logo-zone.css);
@import url(../blocks/title/section-title.css);
@import url(../vendor/normalize.css);
